* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    
  }


  /* -------------------- VIDEO STYLE ------------------------------ */
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter:brightness(10%);
    
   
  }


  /* ----------------------------------TOP BAR STYLE ---------------------------------------------- */

  .top-bar {
    position: relative;
    font-size: 2.2vh;
    color: rgb(120, 120, 120);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.4vw;
    
  }

  .title {
    padding-left:2%;
    padding-top: 0%;
    opacity: 0;
    animation:  fadeIn 3s forwards;
  }

  @keyframes fadeIn {
    to {
        opacity: 1;
    }
}
  .quote {

    padding-left: 2%;
    padding-top: 0%;
    opacity: 0;
    animation:  fadeIn 3s forwards;
    animation-delay: 1.6s;

  }

  .Login-Button {
    border: none;
    margin-left:85%;
    padding: 0% 2%;
    position: relative;
    background-color: inherit;
    color: white;
    letter-spacing: 0.22vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    

  }
/* ------------------------------------------------------------------------------------------------------- */


/* -------------------------------------------QUOTE STYLE------------------------------------------------------ */

.Q-1 {
  font-size: 4vh;
  padding-top: 15%;
}

.Q-2 {
  padding-top: 0%;
  font-size: 4vh;
}

.Q-3 {
  padding-top: 0.5%;
  font-size: 4vh;
}

.Q-container {
  text-align: center;
  margin-left: 10%;
  font-family:cursive;
  opacity: 0;
  position: absolute;
}

.Q-1, .Q-2, .Q-3 {
  opacity: 0;
  transition: opacity 1s ease;
}
/* -----------------------------------------MAIN TEXT-----------------------------------------------------  */






  /* ------------------------------------MENU STYLE ---------------------------------------------- */

  .menu {
    position: fixed;
    font-size: 1.6vh;
    padding-left: 2vw;
    padding-top: 65vh;
  
    
}



.menu-tab {
    list-style: none;
    text-decoration: none;
    padding-bottom: 2%;
}

li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.3vw;
    text-decoration: none;
    list-style: none;
    color: rgb(120, 120, 120);
}

.menu-tab:hover a {
    color: white;
    font-size: 1.9vh;
}




/* ------------------------------------------INSIGHTS SECTION----------------------------------------- */

.insights-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    height: 0vw; 
    margin-top: 140vh;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(120, 120, 120);;
    font-size: 3vh;
    
}
.box :hover {
    color: white;
    

    
}

.box1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: inherit;
    height: 20vh;
    width: 40vh ;
    
    
    
    
}

.box2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: inherit;
    height: 20vh;
    width: 40vh ;
    margin-left: 20vw;
   
}

.box3 {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    background-color: inherit;
    height: 20vh;
    width: 40vh ;
}

.title-box1 {
    
    margin-left: 4vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    letter-spacing: 0.2vw;
    font-size: 2vh;
    

}
.title-box2 {
    margin-left: 6.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    letter-spacing: 0.2vw;
    font-size: 2vh;

}

.point {
    
    margin-left: 3vw;
    list-style: none;
    padding-top: 0.7vh;
    font-size: 1.7vh;
    align-items: center;

    
    
   
}

.icon {
    margin-right: 0.6vw;
    margin-left: 0.4vw;
    
}





/* ----------------------------------------------TEAM STYLE-------------------------------------------------------------------- */

.title-team {
    font-size: 2vh;
    color: rgb(120, 120, 120);;;
}
.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 16vw 16vw; 
    
    
    gap: 12vw; 
    margin-top: 110vh;
    justify-content: center;
  }
  
  .section1 {
    background-color: inherit; 
    padding-top: 18vh; 
    padding-bottom: 18vh; 

  }
  
  .section2 {
    background-color: inherit; 
    padding-top: 18vh; 
    padding-bottom: 18vh;
    
  }
  
  .section1 img {
    max-width: 100%;
    opacity: 50%;
    padding-bottom: 2vh;
    border-radius: 50%;
    
  }
  .section1  :hover{
    
    text-shadow: 0vh 0vh 5vh white;
    color: white;
    
  }
  .section2  :hover{
    
    text-shadow: 0vh 0vh 5vh white;
    color: white;
    
  }


  .section2 img {
    max-width: 100%;
    opacity: 50%;
    padding-bottom: 2vh;
    border-radius: 50%;
    
  }

  .bull-point {
    list-style: none;
    color: rgb(120, 120, 120);;
    font-size: 1.6vh;
    padding-bottom: 1.5vh;
    text-align: center;
  }
  
  .bull-point-name {
    list-style: none;
    color: rgb(120, 120, 120);;
    font-size: 3vh;
    padding-bottom: 2vh;
    text-align: center;
  }

 
  


/* -------------------------------------------SEARCH STYLE----------------------------------------------------------------- */


.title-search {
position: relative;
color: white;
text-align: center;
font-size: 2.5vh;
padding-bottom: 2vh;
letter-spacing: 0.2vw;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.search {
    position: relative;
    margin-top: 100vh;
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    padding: 0.8vw 12.8vh;
    color: black;
    background-color: white;
    font-size: 1.6vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.search-bar:hover {
    cursor: pointer; 
}


.search-button {
    margin-bottom: 10vh;
    font-size: 2ch;
    letter-spacing: 0.15vw;
    background-color: inherit;
    color: white;
    padding-left: 10vw;
  
}










/* -----------------------------------LOGIN PAGE STYLE--------------------------------------------- */

body {
  margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, #000000 30%,  #001a69 30%);
}


.section-left {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: #f5f5f5;
  box-shadow: 5px 5px 10px black;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 26vw;
  margin-left: 20vw;
  margin-top: 35vh;  
  opacity: 80%;
}

.section-right {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: #f5f5f5;
  box-shadow: 5px 5px 10px black;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 26vw;
  margin-left: 50vw;
  margin-top: -45vh;  
  opacity: 80%;
}


.title-login { 
  font-size: 2vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 1vw;
  margin-right: 1vw;

}

.section-left img {

  width: 50%;
  height: 30%;
  border-radius: 50%;
  
}

.section-left p {
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 1.5vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}









/* ----------------------------MEDIA QUERIES-------------------------------------------------- */
/* Default styles for all screen sizes */










